@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<h3>Movies by Genre</h3>

<img src="@Url.Action("ChartByGenre")" alt="Drawing chart with HTML Helper" />

<h3>Movies by Rating</h3>

<img src="@Url.Action("ChartByRating")" alt="Drawing chart with HTML Helper" />
